body
{text-align: center;
  background-color: rgba(113, 113, 113, 0.197);
  font-family: 'Kanit', sans-serif;}

h1,h2,h3 {color:#696969;}

main {padding: 0em 5em 0em 5em;}

.smaller-image {width: 259px;}
.larger-image {width: 500px;}

table {
  table-layout: fixed ;
  width: 75% ;}

td {
  width: 25% ;}


div { text-align: center; }

.nav {
  list-style: none;
  overflow: hidden;
 margin: auto;}

.nav a {
float: left;
color: #000000;
text-align: center;
text-decoration: none;
padding: 16px;
font-size: 17px;
  }

.center {
  margin-left: auto;
  margin-right: auto;
}
.pink-text {color: pink}

#id-example {color: green}
#end-tag {color: #4682B4}
#foot-note {font-size: smaller;}

#games {
  list-style-type: none;
  text-align: center;
}

.exampleone { background-color: transparent; }

@media screen and (max-width: 600px) {
.nav a {float: none;}}
  
