body
{text-align: center;
  padding: 0em 5em 0em 5em;
}
table {
  table-layout: fixed ;
  width: 75% ;
}
td {
  width: 25% ;
}
div { text-align: center; }
ul { display: inline-block; text-align: left; font-size: 15pt;}

.smaller-image {width: 259px;}
.larger-image {width: 500px;}
.center {
  margin-left: auto;
  margin-right: auto;
}
.pink-text {color: pink}
#id-example {color: green}
#end-tag {color: #4682B4}
#foot-note {font-size: smaller;}
h1,h2,h3 .grey-text {color:#696969}

.exampleone { background-color: transparent; }